.signup-header {
  text-align: center;
}

.report-header {
  text-align: center;
}

.logo {
  width: 150px;
}

body {
  background: url('https://ih0.redbubble.net/image.507917787.4950/flat,750x1000,075,t.u5.jpg') !important;
}

.home-text {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  text-align: center;
  color: #524f4f;
}
.home-main-container {
  padding: 30px;
  background-color: #ffba35bf;
  border-radius: 15px;
  padding-bottom: 160px;
  min-height: 50vh;
  margin-top: 15px;
}
.top-navbar {
  background-color: #ea8738 !important;
}
.pets-lost-btn{
  margin-top: 43px;
  padding: 66px;
  margin-right: 600px;
  border-radius: 92px;
  background-color: #559898;
}

.pets-lost-link {
  font-size: 35px;
  text-align: center;
  color:white;
  margin: 0;
}
.home-link{
  font-size: 25px;
}
.lost-link-descr, .found-link-descr{
  text-align: center;
}

.lost-btn{
  float: right;
  margin-right: 17%;
}

.found-btn{
  float: right;
  margin-right: 2%;
}

.pets-found-btn{
  margin-top: 43px;
  padding: 66px;
  margin-right: 600px;
  border-radius: 92px;
  background-color: #559898;
}

.btn-outline-secondary {
  width: 332px;
  height: 100px;
  border-radius: 25px;
  border-color: #444337;
}

.pets-found-link {
  font-size: 35px;
  text-align: center;
  color:white;
  margin: 0;
}

.top-navbar .logo {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.top-navbar .logo img {
  width: 110px !important;
  background-color: white;
  border-radius: 50px;
}

.top-navbar .item {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.main-container {
  padding: 0;
  background-color: white;
  min-height: 100vh;
}

.pet-container {
  border: 1px dashed;
  padding: 20px;
  border-radius: 20px;
  min-height: 100vh;
}

.pet-image {
  border-radius: 20px;
}

.pet-tag-header {
  font-family: 'Baloo Thambi', cursive;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
  background-color: #ef5454;
  width: 146px;
}

.pet-name, .pet-description, .location-text {
  font-family: 'Dosis', sans-serif;
  color: #516877;
}

.pet-description {
  margin-top: 15px;
  font-size: 25px;
  text-align: justify;
}

.card-container {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #516877;
}

.pet-block{
  float:left;
  margin: 85px;
  max-width: 300px;
}
.pet-location-block {
  float: right;
  margin: 85px;
}

.profile-name {
  text-align: center;
  font-family: 'Baloo Thambi', cursive;
  font-size: 46px;
  color:coral;
}
.pet-owner {
  font-size: 15px;
}
.profile-header-text {
  text-align: center;
  font-size: 20px;
}
#columns {
  column-width: 320px;
  column-gap: 15px;
  width: 100%;
  max-width: 1600px;
  margin: 50px auto;
}

div#columns figure {
  background: #fefefe;
  border: 0px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 0px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
  border-radius: 3px;
  width: 340px;
  cursor: pointer;
  position: relative;
}

div#columns figure img {
  width: 100%; height: auto;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

div#columns figure figcaption {
  font-size: 1.4rem;
  color: #444;
  line-height: 1.5;
  padding: 8px;
  font-family: 'Dosis', sans-serif;
}

div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
  transition: .4s color;
}

@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}

div#columns figure figcaption .pet-status {
  float: right;
  font-weight: bold;
}

div#columns figure figcaption .pet-desc {
  font-size: 17px;
  text-align: justify;
  margin-top: 10px;
}


.ribbon {
  position: absolute;
  right: -1px;
  top: -1px;
  z-index: 1;
  overflow: hidden;
  width: 120px;
  height: 120px;
  text-align: right;
}

.ribbon span {
  font-size: 14px;
  line-height: 38px;
  width: 123px;
  top: 12px;
  right: -38px;
  color: #fff;
  text-align: center;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: block;
  background: #e63935;
  position: absolute;
}

.ribbon p {
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.icon {
  float: right;
}

.pets-lost-btn {
  /* margin-top: 43px; */
  padding: 40px;
  /* margin-right: 73px; */
  border-radius: 92px;
  background-color: #559898;
  float: left;
  position: absolute;
  left: 10%;
  width: 500px;
}

.pets-found-btn {
  /* margin-top: 43px; */
  padding: 40px;
  /* margin-right: 73px; */
  border-radius: 92px;
  background-color: #559898;
  float: left;
  position: absolute;
  left: 50%;
  width: 500px;
}

/*div {*/
  /*width: 200px;*/
  /*height: 200px;*/
  /*display: block;*/
  /*position: relative;*/
/*}*/

/*.home-main-container::before {*/
  /*content: "";*/
  /*background: url('https://previews.123rf.com/images/alexeyblogoodf/alexeyblogoodf1705/alexeyblogoodf170500116/78613211-seamless-pattern-and-background-with-thin-line-icons-related-to-pets-and-animals-for-pet-shop-websit.jpg');*/
  /*opacity: 0.5;*/
  /*top: 0;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*position: absolute;*/
  /*z-index: -1;*/
/*}*/